<!DOCTYPE html>
<html lang="en">

<body>
    <div class="login">
        <form action="">
            <h1>Login</h1>
            <div class="login-title">
                <p>Hello! Log in with your email</p>
            </div>
            <div class="login-email">
                <div class="email-title">
                <p>Email</p>
                </div>
                <input type="text" class="ty-text" placeholder="Enter your email" required>
                <i class='bx bx-envelope' ></i>

            </div>
            <div class="login-password">
                <div class="password-title">
                    <p>Password</p>
                </div>
                <input type="password" class="ty-text" placeholder="Enter your password" required>
                <i class='bx bx-lock-alt' ></i>
            </div>

            <button type="submit" class="btn">log in</button>
        </form>
    </div>
</body>
</html>
